*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: darkslategray;
}

header{
    width: 100%;
    background-color: white;
    line-height: 50px;
}

.center{
    vertical-align: middle;
    display: inline-block;
    padding: 15px;
}

h1{
    font-size: 3rem;
}