*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
}

header{
    width: 100%;
    height: 100px;
    background-color: white;
    line-height: 100px;
}