*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f6f8f9;
}

header{
    width: 100%;
    height: 90px;
    background-color: white;
    line-height: 90px;
    margin-bottom: 50px;
}

.center{
    vertical-align: middle;
    display: inline-block;
    padding-left: 15px;
}

h1{
    font-size: 3rem;
}

.container{
    width: 50%;
    height: 600px;
    background-color: white;
    margin: 0 auto;
    border-radius: 10px;
}

.header{
    height: 70px;
    border-bottom: 1px solid #f6f8f9;
}

button{
    padding: 8px 15px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

#task{
    background-color: #47adf1;
    color: white;
    margin-left: 40px;
}

#section{
    color: #cad0d5;
    background-color: white;
    margin-left: 5px;
}

.card{
    margin: 30px;
}

ul{
    list-style: none;
    margin: 10px;
}

li{
    margin: 15px;
}

.check{
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid #5cbba4;
    color: #5cbba4;
    border-radius: 50%;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.cross{
    height: 20px;
    width: 20px;
    display: inline-block;
    border: 1px solid #ec574d;
    color: #ec574d;
    border-radius: 50%;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

.cube{
    width: 80px;
    height: 25px;
    color: white;
    background-color: #45abea;
    display: inline-block;
    vertical-align: middle;
    border-radius: 12px;
    text-align: center;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
}

#gol{
    background-color: #9b71e3;
}

#recru{
    background-color: #64c0a9;
}

#mob{
    background-color: #f29e33;
}

#web{
    background-color: #d863a1;
}

#sale{
    background-color: #b0c926;
}